// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size:60px;
}

table {
  width:1024px;
  margin:auto;
  text-align:left;
  padding: 10 10 10 10;
  
}

thead {
  background-color:#3A9AC4;
  text-align:center;
  
}